table, td {
    text-align: center;
    border: 1px solid black;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 8px;
    padding-top: 8px ;

}
table {
    border-collapse: collapse;
    border-top: dashed red 2px;
    border-bottom: dashed red 2px;
}