body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 1.5em;
    letter-spacing: 1px;
}

p {
    font-size: 18pt;
}

ul {
    background-color: white;
    padding: 10px;
}

a {
    color: blue;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}